<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ServerIP1</key>
	<string>https://offeram.com/api/</string>
	<key>ServerIP</key>
	<string>https://offeram.com/apiv2/</string>
	<key>ServerIP3</key>
	<string>http://credencetech.in/offeram/</string>
	<key>ServerIPForAdviceImages</key>
	<string>https://offeram.com/api/</string>
	<key>AvailabilityHostToCheck</key>
	<string>https://www.google.com</string>
	<key>User_Splash</key>
	<string>splash.php</string>
	<key>User_Send_OTP</key>
	<string>otp.php</string>
	<key>User_Resend_OTP</key>
	<string>otp.php</string>
	<key>User_Logout</key>
	<string>logout.php</string>
	<key>User_Verify_Phone_Number</key>
	<string>verify.php</string>
	<key>User_Get_All_Merchants</key>
	<string>getallmerchants_new.php</string>
	<key>User_Get_Merchant_Details</key>
	<string>getmerchantdetails.php</string>
	<key>User_Add_Remove_From_Favorite_Offers</key>
	<string>addfavorites.php</string>
	<key>User_Ping_Offer</key>
	<string>share_ping.php</string>
	<key>User_Get_All_Fevorite_Offers</key>
	<string>getallfavorites.php</string>
	<key>User_Get_All_Notifications</key>
	<string>getallnotifications.php</string>
	<key>User_Mark_Notification_As_Read</key>
	<string>mark_all_notifications_as_read.php</string>
	<key>User_Redeem_Offer</key>
	<string>redeem.php</string>
	<key>User_Get_All_Search_Results</key>
	<string>search.php</string>
	<key>User_Get_Profile_Deails</key>
	<string>get_profile_details.php</string>
	<key>User_Update_Profile_Details</key>
	<string>update_profile.php</string>
	<key>User_Submit_Rating</key>
	<string>add_rating.php</string>
	<key>User_Apply_Promo_Code</key>
	<string>get_promotional_code_discount.php</string>
	<key>User_Get_Order_Id</key>
	<string>payment.php</string>
	<key>User_Generate_Checksum</key>
	<string>generateChecksum.php</string>
	<key>User_Purchase_Version</key>
	<string>purchase_version.php</string>
	<key>User_Get_All_Used_Offers</key>
	<string>get_all_used_coupons_by_user_id.php</string>
	<key>User_Upload_All_Contacts</key>
	<string>get_contacts.php</string>
	<key>User_Get_All_Pinged_Offers</key>
	<string>get_all_pinged_offers.php</string>
	<key>Update_pinged_Offer_Status</key>
	<string>update_pinged_offer_status.php</string>
	<key>User_Get_All_My_Pinged_Offers</key>
	<string>my_pinged_offers.php</string>
	<key>User_Get_All_transactions</key>
	<string>get_transactions.php</string>
	<key>User_Re_Activate_Coupon</key>
	<string>reactivate_coupon.php</string>
	<key>User_Register_For_Tambola</key>
	<string>register_for_tambola.php</string>
	<key>User_Get_All_Tambola_Tickets</key>
	<string>get_tambola_list.php</string>
	<key>User_Purchase_Tambola_Ticket</key>
	<string>activate_tambola.php</string>
</dict>
</plist>
